<div class="tableouter-box-form">
    <h2 class="title-top">Add Account</h2>
    <div class="form-group mb-3">
       <input type="text" (change)="onChangeEvent($event)" class="form-control width60per"/>         
    </div>   

<div class="form-inner-box">   
        <div *ngFor="let FI of financialinstitutions">
            <div class="table-row">
                <div class="table-cell">
                    <a (click)="loadLoginComponent(FI.FIId);">{{FI.FIName}}</a> 
                </div>
                <div class="table-cell topic-cell flex-left">
                    <a>{{FI.Url}}</a>
                </div>            
            </div>
        </div>
        <div style="position: relative">
            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size = "medium" color="grey" type="ball-spin-clockwise" [fullScreen] = "false">  
                <p style="color:blue">Please Wait. </p>  
                </ngx-spinner> 
        </div>
</div>
</div>
