body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
.heading-outer-box{background: #f5f6f6; padding: 8px 6px;border: 1px solid #eff1f1;}
.heading-title-box {
display: flex;
justify-content: space-between;  text-transform: uppercase; font-weight:bold;}
.heading-title-box2 {
display: flex;
justify-content: space-between;  }

/* Style the tab */
.tab {
overflow: hidden;

background-color: #e6e8e8; margin-top:10px; margin-bottom:10px;
float: right;
}

/* Style the buttons inside the tab */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 12px 16px;
transition: 0.3s;
font-size: 14px; text-transform: uppercase; border: 1px solid #f5f6f6;
}


/* Create an active/current tablink class */
.tab button.active {
background-color: #f5f6f6;
}



/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 2px;

border-top: none;
}
.tablinks {flex: 1;}

.tabcontent2 {
display: none;
padding: 6px 2px;

border-top: none;
}
.tablinks2 {flex: 1;}

.tableouter-box
{
    display: block;font-size: 13px; background: #fff;  padding: 15px;  width: 1000px; border: 1px solid #efeff3;float: left;
}

.table
{
    display: table;font-size: 13px;   width: 100%; color: #6f6e72;
}

.title-top
{
    display:block;
    text-align: left;
    font-weight: bold; margin-bottom: 25px;
    font-size: 20px;
   
}
.Heading
{
    display: flex;
    font-weight: bold;
    text-align: left; 
    
}

.Heading .table-cell:hover
{
    background:#e6e8e8;
}
.table-row
{
    display: flex; padding: 6px 0;
}

.table-cell
{    width:20%;
    display: flex;
   border-bottom: 1px solid #efeff3 !important;
    border-width: thin;  text-align: left; padding:6px 0 6px 5px;  
}
.table-row .table-cell p{height: 19px;
   overflow: hidden; margin: 0;}
.topic-cell {
width: 50%; padding-right: 30px;  
}

.width84{width:84px}
.width280{width:280px}

.text-right{text-align:right}
.width70per { width: 78%}

.flex-right {justify-content: flex-end;}

.flex-item {
    justify-content: center;

    
  }
  .wd110{width:110px!important}

  .middle { justify-content: center; border-bottom:none!important}

  .under-line-none {cursor:default!important; text-decoration:none!important; color:#212529!important}
   a.under-line-none:hover{cursor:auto!important; text-decoration:none!important; color:#212529!important}
