<div class="tableouter-box">
  <div *ngFor="let account of AccountDetails">
    <div class="heading-outer-box">
       <div class="heading-title-box">
          <div class="">{{account.FINickName}}</div>
          <div class="">Total Balance</div>
      </div>

      <div class="heading-title-box2">
          <div id="labelNickname" *ngIf="divNickNameatFILabel" style="display: block;">
            <a class="under-line-none" (click)="HideLabelShowTextbox(account.NickNameAtFI,account.AcctId)">{{account.NickNameAtFI}} </a> 
          </div>
          <div id="textboxNickname" *ngIf="divNicknameatFITextbox" style="display: block;"> 
                <div class="float-left">             
                  <input type="text" class="form-control" style="display:inline; color:black" [(ngModel)]="NickNameAtFItoupdate"/>
                </div> 
                <div style="cursor:pointer;" class="float-left ml-2 mt-2">
                  <i class="fal fa-check-circle fa-lg" (click)="UpdateNicknameatFI()"></i>&nbsp;
                  <i class="far fa-times-circle fa-lg" (click)="HideTextBoxShowLabel()"></i>
                </div>                
                           
          </div>
          <div class="">Last Update: {{account.LastUpdateAttempt}}</div>
          <div class="">{{account.TotalBalance | currency}}</div>
        </div>
      </div>    
 
    <div class="tab">
      <button [ngClass]="bntStyle" *ngIf="AccountIsAsset" (click)="divPositionFunction()">Position</button>
      <button [ngClass]="bntStyle2" (click)="divTransactionsFunction()">Transactions</button>
      <button [ngClass]="bntStyle3" (click)="divOtherBalancesFunction()">Other Balances</button>
      
    </div>
    <!--- Position table-->
    <div id="Position" *ngIf="divPosition" class="tabcontent" style="display: block;">
      <div class="table">
           <!---heading-->
      <div class="Heading">
          <div class="table-cell"  (click)="TickerClick('symbol')">
             SYMBOL
          </div>
         
          <div class="table-cell" (click)="TickerClick('quqntity')">
             QUANTITY
          </div>
          <div class="table-cell" (click)="TickerClick('marketvalue')">
             MARKETVALUE
          </div>
          <div class="table-cell" (click)="TickerClick('price')">
              PRICE
           </div>
           <div class="table-cell" (click)="TickerClick('costbasic')">
              COST BASIS
           </div>
          <div class="table-cell topic-cell" (click)="TickerClick('description')">
              DESCRIPTION
           </div>
      </div>
       <!---end heading-->
       <!---desicription-->
      <div *ngFor="let position of account.Positions orderBy: 'Ticker'">
          <!--table-row-->
        <div class="table-row">
            <div class="table-cell">
             <p class="width84">{{position.Ticker}}</p>
            </div>
            
            <div class="table-cell">
              <p>   {{position.Quantity}} <p>
            </div>
            <div class="table-cell">
              <p> {{position.MarketValue | currency}} </p>
            </div>
            <div class="table-cell">
              <p>  {{position.Price | currency}}    <p>
            </div>
            <div class="table-cell">
              <p>{{position.CostBasis | currency}} </p>
            </div>
            <div class="table-cell topic-cell">
              <p class="width280"> {{position.Description}}</p>
            </div>
        </div>
      <!--end table-row-->
      </div>
      <!---end desicription-->
      </div>
  
  </div>
  <!---end Position table-->
<!--- OtherBalances table-->
<div id="OtherBalances" *ngIf="divOtherBalance" class="tabcontent" style="display: block;">
<div class="table">
   <!---heading-->
<div class="Heading">
  <div class="table-cell">
     SYMBOL3
  </div>   
  <div class="table-cell flex-right width70per">
     QUANTITY
  </div>
</div>
<!---end heading-->
<!---desicription-->
<div *ngFor="let accountbalance of account.AccountBalances">
  <!--table-row-->
<div class="table-row">
    <div class="table-cell">
     <p>     {{accountbalance.AcctBalType}}</p>
    </div>
    <div class="table-cell flex-right width70per">
      <p> {{accountbalance.AcctBalAmt | currency}}</p>
    </div>
</div>
<!--end table-row-->
</div>
<!---end desicription-->
</div>

</div>
<!---end OtherBalances table-->

  </div>

  <!--- Transactions table-->
<div id="Transactions" *ngIf="divTransactions" class="tabcontent" style="display: block;">
<div class="table">
     <!---heading-->
     <div class="table-row middle">
      
          <input type="text"
             class="form-control wd110"
             #dp="bsDatepicker"
             bsDatepicker
             [bsValue]="fromdatevalue"
             (bsValueChange)="fromdateChanged($event)"> &nbsp;&nbsp;&nbsp;
             <input type="text"
             class="form-control wd110"
             #dp="bsDatepicker"
             bsDatepicker
             [bsValue]="todatevalue"
             (bsValueChange)="todateChanged($event)">
       
     
     </div>
<div class="Heading">
    <div class="table-cell">
       DATE
    </div>
   
    <div class="table-cell" *ngIf="!IsBankingOrLiabilities">
       SYMBOL
    </div>
    <div class="table-cell" *ngIf="!IsBankingOrLiabilities">
       ACTION
    </div>
    <div class="table-cell" *ngIf="!IsBankingOrLiabilities">
        UNITS
     </div>
     <div class="table-cell" *ngIf="!IsBankingOrLiabilities">
        PRICE
     </div>
     <div class="table-cell" *ngIf="IsAssetShowCost">
      AMOUNT
      </div>
     <div class="table-cell" *ngIf="IsBankingOrLiabilities">
      {{DEPOSITORPAYMENT}}
     </div>
     <div class="table-cell" *ngIf="IsBankingOrLiabilities">
      {{WITHDRAWALORCHARGES}}
     </div>
    
    <div class="table-cell topic-cell">
      DESCRIPTION
     </div>
</div>
 <!---end heading-->
 <!---desicription-->
 
<div *ngFor="let transaction of transactions">
    <!--table-row-->    
  <div class="table-row">
      <div class="table-cell">
       <p class="width84">{{transaction.TransactionDate | date: 'MM/dd/yyyy'}}</p>
      </div>
      
      <div class="table-cell" *ngIf="!IsBankingOrLiabilities">
        <p>   {{transaction.Ticker}} <p>
      </div>
      <div class="table-cell" *ngIf="!IsBankingOrLiabilities">
        <p> {{transaction.TransactionAction}} </p>
      </div>
      <div class="table-cell" *ngIf="!IsBankingOrLiabilities">
        <p>  {{transaction.Units}}    <p>
      </div>
      <div class="table-cell" *ngIf="!IsBankingOrLiabilities">
        <p>{{transaction.Price | currency}} </p>
      </div>
      <div class="table-cell" *ngIf="IsAssetShowCost">
        <p>{{transaction.Amount | currency}} </p>
      </div>

      <div class="table-cell" *ngIf="IsBankingOrLiabilities">
       <p *ngIf="transaction.TransactionType ==='Credit'"> {{transaction.Amount | currency}}</p>
      </div>   
      <div class="table-cell" *ngIf="IsBankingOrLiabilities">
       <p *ngIf="transaction.TransactionType ==='Debit'"> {{transaction.Amount | currency}}</p>
      </div>
      <div class="table-cell topic-cell">
        <p> {{transaction.Description}}</p>
      </div>
  </div>
<!--end table-row-->
</div>
<!---end desicription-->
</div>

</div>
<!---end Transactions table-->
</div>
<!---end angular table-->