<div class="tableouter-box-form">
    <h2 class="title-top">Add Account</h2>
    <div class="form-inner-box">
        <form #formRef="ngForm">
        <div *ngFor="let challengequestion of ChallengeQuestions; let i=index">
            <div class="form-group">
                <label> {{challengequestion.QuestionDisplay}}</label>                
                <input type="text" [(ngModel)]="ParameterList[i].ParamVal" 
                name="{{challengequestion.QuestionName}}" class="form-control" #name="ngModel" required />
            </div> 
            <br />          
        </div>      
      
        <button class="btn btn-primary" [disabled]="!formRef.form.valid" (click)="onSubmit()">Submit</button> 
      </form>
      <div style="position: relative">
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size = "medium" color="grey" type="ball-spin-clockwise" [fullScreen] = "false">  
            <p style="color:blue">Please Wait. </p>  
            </ngx-spinner> 
      </div>
         
        </div>
    

  </div>