body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
.tableouter-box
{
    display: block;font-size: 13px; background: #fff;  padding: 10px;  width: 1000px;
}

.table
{
    display: table;font-size: 13px;   width: 100%; color: #6f6e72;
}

.title-top
{
    display:block;
    text-align: left;
    font-weight: bold; margin-bottom: 10px;
    font-size: 18px;
   
}
.Heading
{
    display: flex;
    font-weight: bold;
    text-align: left; 
    
}

.Heading .table-cell:hover
{
    background:#e6e8e8;
}
.table-row
{
    display: flex; padding: 6px 0;
}

.table-cell
{    width: 14%;
    flex-grow: 1;  
   border-bottom: 1px solid #efeff3 !important;
    border-width: thin; word-wrap: break-word; text-align: left; padding:6px 0 6px 5px;
    
}

.topic-cell {
width: 60%; padding-right: 20px;
}
.under-line-none {cursor:default!important; text-decoration:none!important; color:#a7a7a7!important}