 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Position Details</h5>
        <button type="button" class="btn-close" 
        data-bs-dismiss="modal" aria-label="Close" (click)=closeClick()></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label>  {{accountclassificationtoshow}} </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>  {{finicknametoshow}} </label>
        </div>
          <div class="float-right mt-1">
              <button class="btn btn-primary" data-bs-dismiss="modal">OK</button> 
             
          </div> 
      </div>       
    </div>
  </div>
</div>

<div class="tableouter-box">
    <!---title-->
    <div class="title-top">
        TOP HOLDINGS
    </div>
     <!---end title-->
    <div class="table">
         <!---heading-->
    <div class="Heading">
        <div class="table-cell">
          SYMBOL 
        </div>
        <div class="table-cell topic-cell">
           DESCRIPTION
        </div>
        <div class="table-cell">
           QUANTITY
        </div>
        <div class="table-cell">
           MARKETVALUE
        </div>
    </div>
     <!---end heading-->
     <!---desicription-->
    <div *ngFor="let account of arrayItems">
      <div class="table-row">
          <div class="table-cell">          
           <a data-bs-toggle="modal" data-bs-target="#exampleModal" data-backdrop="static" data-keyboard="false" (click)=editClick(account.FINICKNAME,account.ACCOUNTCLASSIFICATION)> {{account.SYMBOL}}</a>
          </div>
          <div class="table-cell topic-cell">
           {{account.DESCRIPTION}}
          </div>
          <div class="table-cell">
           {{account.QUANTITY}}
          </div>
          <div class="table-cell">
            {{account.MARKETVALUE | currency}}
          </div>
      </div>
   
    </div>
    <!---end desicription-->
    </div>
</div>