body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
font-family: inherit;
font-weight: 500;
line-height: 1.1;
color: inherit;
}
.form-group {
margin-bottom: 15px;
}
.tableouter-box-form { padding: 15px;  width: 1000px; display: block;font-size: 13px; background: #fff; text-align: center; }
.form-inner-box { padding: 20px;  display: block;font-size: 13px; background: #fff; width: 100%;border: 1px solid #efeff3; text-align: left; }
.title-top {
display: block;
text-align: left;
font-weight: bold;
margin-bottom: 20px;
font-size: 20px;
}
.form-inner-box h4{text-align: center; font-size: 22px;}
label {
display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: 700;
}
.form-control {
display: block;
width: 100%;
height: 30px;
padding: 2px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;

box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);

}
.btn-primary {
color: #fff;
background-color: #337ab7;
border-color: #2e6da4;
}
.btn-primary:hover {
color: #fff;
background-color: #0069d9;
border-color: #0062cc;
}
.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.form-check {
position: relative;
display: block;
padding-left: 1.25rem;
}
input[type=checkbox], input[type=radio] {
box-sizing: border-box;
padding: 0;
}
.form-check-input {
position: absolute;
margin-top: .2rem;
margin-left: -1.25rem;
}
.form-check-label {
margin-bottom: 0; font-weight: normal;
}
.form-group {
margin-bottom: 1rem;
}
.form-width {width: 290px;}
.btn-default {
color: #333;
background-color: #fff;
border-color: #ccc;
}
