<div class="tableouter-box-form">

    <h2 class="title-top">Add Account</h2>
    <div class="form-inner-box">
       
       <p>Please select the account(s) to include</p>     

       <form #formRef="ngForm" (ngSubmit)="onSubmit()" class="form-width">
        <div *ngFor="let harvestaccount of HarvestFetchAccounts; let i=index">
            <div class="form-group form-check">
                <input type="checkbox" [value]="harvestaccount.NickNameAtFI" class="form-check-input" (change)="onCheckboxChange($event)" />
                <label class="form-check-label"> {{harvestaccount.NickNameAtFI}}</label>
               
            </div>
            <div class="form-group ">
                <label> Account Type</label>
                <select name="name{{harvestaccount.AccountNumber}}" class="form-control select" [(ngModel)]="HarvestFetchAccounts[i].AccountTypeId">                     
                    <option *ngFor="let accounttype of AccountType"                     
                    [value]="accounttype.AcctTypeId"
                    [selected]="HarvestFetchAccounts[i].AccountTypeId" >{{accounttype.AcctName}} </option>
                </select>
            </div>
        </div>
      
        <button class="btn btn-primary">Submit</button>
      </form>
      <div style="position: relative">
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size = "medium" color="grey" type="ball-spin-clockwise" [fullScreen] = "false">  
            <p style="color:blue">Please Wait. </p>  
            </ngx-spinner> 
      </div>
         
        </div>
    

  </div>
  {{HarvestFetchAccounts|json}}