  
.tab {
  overflow: hidden;
  border: 1px solid hsl(180, 7%, 94%);
  background-color: #e6e8e8;
  display: flex;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  transition: 0.3s;
  font-size: 14px; text-transform: uppercase;
}


/* Create an active/current tablink class */
.tab button.active {
  background-color: #f5f6f6;
}



/* Style the tab content */
.tabcontent {
  display: none;
  padding: 5px 2px;
 
  border-top: none;
}
.tablinks {flex: 1;}
/* box */
         .box-wrapper{
         width:400px; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-bottom: 10px; float: left;
         margin-right: 10px;
         }
         .box-inner { position: relative; display: flex; flex-direction: column;
         background-color: #fff;background-clip: border-box;border: 1px solid #efeff3!important;
         border-bottom: 1px solid #efeff3!important;
         margin-bottom: 10px; border-radius: 0rem; padding-bottom: 10px; margin-top:5px
         }
         .box-header {
         padding: .60rem 1rem;
         margin-bottom: 0;
         background-color: #f0f0f3;
         border-bottom: 2px solid #e0e0e3;
         font-size: .95rem; margin-top: 0;
         }
         .list-group {
         display: flex;
         flex-direction: column;
         padding-left: 0;
         margin-bottom: 0;
         }
         .list-group p {padding: .75rem 1rem;font-size: 14px; margin: 0; color: #767676;}
         .list-group ul{ margin:0; padding:0;}
         .list-li-item {
         position: relative;
         display: block;
         padding: .35rem 1rem;
         font-size: 13px;
         background-color: #fff; color: #a7a7a7;
         }
         .float-right {
         float: right!important;
         }
         .right-price {
         display: inline-block;
         padding: .25em .4em;
         font-size: 95%;
         line-height: 1;
         text-align: center;
         white-space: nowrap;
         vertical-align: baseline;
         border-radius: .25rem;
         }

         a{cursor:pointer}
         a:hover{ text-decoration: underline!important;}

         .under-line-none {cursor:default!important; text-decoration:none!important; color:#a7a7a7!important}
         a.under-line-none:hover{cursor:auto!important; text-decoration:none!important; color:#a7a7a7!important}



