 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit FI</h5>
          <button type="button" class="btn-close" 
          data-bs-dismiss="modal" aria-label="Close" (click)=closeClick()></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" name="{{FInametoupdate}}" [(ngModel)]="FInametoupdate"/> 
             </div>
            <div class="float-right mt-1">
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="UpdateFIName()">Edit</button> 
                <button class="btn btn-primary ml-2" data-bs-dismiss="modal" (click)="closeClick()">Cancel</button>
            </div> 
        </div>       
      </div>
    </div>
  </div>

  <div class="box-wrapper">
    <div class="tab">
       <button [ngClass]="bntStyle" (click)="div1Function()">Assets</button>
       <button [ngClass]="bntStyle2" (click)="div2Function()">Liabilities</button>       
     </div>

<div id="Assets" *ngIf="div1" class="tabcontent" style="display: block;">  
    
    <div *ngFor="let account of arrayItems">
        <div class="box-inner">
        <div class="box-header"><strong>{{account.HeaderValue}} <span class="float-right right-price">{{account.SumOFAmount | currency}}</span></strong>  </div> 
        <div class="list-group">  
            <div *ngFor="let item of account.PushedItems"> 
                <p><strong><div *ngFor=" let heading of item; let i=index"><div *ngIf="i==0">
                    <a class="under-line-none" data-bs-toggle="modal" data-bs-target="#exampleModal" data-backdrop="static" data-keyboard="false" (click)=editClick(heading.FIId,heading.FINickName)>{{heading.FINickName}}</a>
                    <i class="fas fa-external-link-alt" style="float:right;" (click)="ExternalLink(heading.FIId);"></i></div> </div></strong></p>    
                
                   
                    <div *ngFor="let item2 of item">         
                        <div class="list-li-item">
                            <a (click)="loadMyChildComponent(item2.AcctId);"> {{item2.NickNameAtFI}}  </a>                  
                        <span class="float-right right-price">{{item2.TotalBalance | currency}} </span>
                    </div>
                </div>
            </div>   
        </div>       
        </div>  
    </div>          
</div>  
  

<div id="Liabilities" *ngIf="div2" class="tabcontent" style="display: block;">   
    
    <div *ngFor="let account of arrayItemsLib">
        <div class="box-inner">
        <div class="box-header"><strong>{{account.HeaderValue}} <span class="float-right right-price">{{account.SumOFAmount | currency}}</span></strong>  </div> 
        <div class="list-group">  
            <div *ngFor="let item of account.PushedItems"> 
                <p><strong><div *ngFor=" let heading of item; let i=index"><div *ngIf="i==0">
                    <a class="under-line-none" data-bs-toggle="modal" data-bs-target="#exampleModal" data-backdrop="static" data-keyboard="false" (click)=editClick(heading.FIId,heading.FINickName)>{{heading.FINickName}}</a>
                    <i class="fas fa-external-link-alt" style="float:right;" (click)="ExternalLink(heading.FIId);"></i>
                </div> </div></strong></p>    
               
                <div *ngFor="let item2 of item">         
                    <div class="list-li-item">
                        <a (click)="loadMyChildComponent(item2.AcctId);">{{item2.NickNameAtFI}}  </a>                     
                    <span class="float-right right-price">{{item2.TotalBalance | currency}} </span>
                </div>
            </div>
                   
                
               
            </div>   
        </div>       
        </div>  
    </div>          
</div>
<div style="position: relative">
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size = "medium" color="grey" type="ball-spin-clockwise" [fullScreen] = "false">  
    <p style="color:blue">Please Wait. </p>  
    </ngx-spinner> 
</div>
</div>

<custom-aq-account-detail *ngIf="loadChildComponent"></custom-aq-account-detail>
   






