<div class="divouter-box">
  <!---title-->
  <div class="title-top">
      <div class="float-left">Net Worth:</div>
      <div class="float-right"><span>{{displayNetworth | currency}}</span></div>
  </div>
   <!---end title-->
   <!---graphic-wrapper-->
      <div class="graphic-wrapper">
           <!---BOX1-->
            <div class="graphic-inner">
                <div class="graphic-header"><strong>Assets</strong> </div> 
                <div class="graphic-area">  
                  <div class="chart-wrapper">
                    <canvas baseChart 
                    [data]="assetChartData"
                    [labels]="assetChartLabels"
                    [chartType]="assetChartType"
                    [options]="assetChartOption"
                    [plugins]="assetChartPlugins"
                    [colors]="pieChartColors">
                  </canvas>
                </div>  
                </div>       
             </div>
               <!---END BOX1-->
           <!---BOX2-->
              <div class="graphic-inner">
                    <div class="graphic-header"><strong>Liabilities</strong> </div> 
                       <div class="graphic-area">  
                        <div class="chart-wrapper">
                          <canvas baseChart 
                          [data]="liabilitiesChartData"
                          [labels]="liabilitiesChartLabels"
                          [chartType]="liabilitiesChartType"
                          [options]="liabilitiesChartOption"
                          [plugins]="liabilitiesChartPlugins"
                          [colors]="liabilitiespieChartColors">
                        </canvas>
                      </div>    
                       </div>       
              </div>
           <!---END BOX2-->
      </div>
<!---END graphic-wrapper-->
</div>
