body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
.divouter-box
{
 overflow: hidden;   display: block;font-size: 13px; background: #fff;  padding: 15px;  width: 1000px; border: 1px solid #efeff3;
}

.table
{
    display: table;font-size: 13px;   width: 100%; color: #6f6e72;
}

.title-top
{
    display:block;
    text-align: left;
    font-weight: bold; margin-bottom: 25px;
    font-size: 20px; padding: 0 8px;
   
}
.title-top span{font-weight: normal; font-size: 18px;}
.left-box {float: left;}
.float-left{float: left;}
.float-right{float: right;}
.graphic-wrapper{font-family: Verdana, Geneva, Tahoma, sans-serif; margin-bottom: 10px;display: flex;clear:both;}
.graphic-inner { position: relative;flex:2 0 1px;background-color: #fff;background-clip: border-box;border: 1px solid #efeff3; border-radius: 0rem; padding-bottom: 10px; margin: 5px 8px; width: 48%; }
.graphic-header { padding: .60rem 1rem; margin-bottom: 0; background-color: #f0f0f3;border-bottom: 2px solid #e0e0e3; font-size: .95rem; margin-top: 0;}
.graphic-area {width: 100%; text-align: center; padding: 10px;}
