<div id="searchFi" *ngIf="divshowFISearch" style="display: block;"> 
<search-fi></search-fi>
</div>
<div id="entercredentials" *ngIf="divshowEnterCredentials" style="display: block;"> 
<custom-enter-credentials></custom-enter-credentials>
</div>

<div id="challengequestion" *ngIf="divshowChallengeQuestion" style="display: block;"> 
    <custom-add-account-challengequestion></custom-add-account-challengequestion>
</div>


<div id="accountclassification" *ngIf="divshowAccountClassification" style="display: block;"> 
<custom-add-account-accountclassification></custom-add-account-accountclassification>
</div>

<div id="accountstatus" *ngIf="divshowAccountStatus" style="display: block;"> 
    <custom-add-account-status></custom-add-account-status>
</div>