<div class="tableouter-box-form">
  <h2 class="title-top">Add Account</h2>
  <div class="form-inner-box">
      <form #formRef="ngForm">
        <h4>{{FInstitutionName}}</h4>
        <div *ngFor="let FILoginParameter of filoginParameters; let in=index">
            <div class="form-group">
              <label>{{FILoginParameter.ParameterCaption}}</label>
              <input type="{{FILoginParameter.ParameterType}}" [(ngModel)]="filoginParameters[in].ParameterDefaultValue" name="{{FILoginParameter.ParameterVariableName}}" class="form-control" #name="ngModel" required />
            
            </div>
            <br />
        </div>  
        <button class="btn btn-primary" [disabled]="!formRef.form.valid" (click)="Login()">Login</button> 
        <button class="btn btn-primary ml-2" (click)="goBack()">Back</button> 
      </form>
      <div style="position: relative">
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size = "medium" color="grey" type="ball-spin-clockwise" [fullScreen] = "false">  
            <p style="color:blue">Please Wait. </p>  
            </ngx-spinner> 
      </div>
  </div> 
</div>